@import url('./home-responsive.css');

.content {
    display: grid;

    .image-home-container {
        background-color: #F9F9F9;
        
        img{
            width: 100%;
        }

        h3{
            text-align: center;
        }

        p{
            margin-top: 20px;
            text-align: center;
        }

        button{
            cursor: pointer;
            background-color: rgb(230, 230, 230);
            border: 1px solid black;
            border-radius: 20px;
            padding: 5px 20px;
            display: block;
            margin: 20px auto;
        }

        button:focus{
            outline: 0;
        }
    }
}