/* Extra small devices */
@media (min-width: 200px) and (max-width: 575px) {
    section, .content {
        flex-direction: column;
    }

    section{
        .image-container {
            justify-content: center;
        }

        .content-container{
            margin: 30px 0px;
        }
    }

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    section, .content {
        flex-direction: column;
    }

    section{
        .image-container {
            justify-content: center;
        }

        .content-container{
            margin: 30px 0px;
        }
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    section, .content {
        flex-direction: column;
    }

    section{
        .image-container {
            justify-content: center;
        }

        .content-container{
            margin: 30px 0px;
        }
    }

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .coffee-list {
        overflow: auto;
    }

    section{
        .image-container {
            justify-content: flex-end;
        }
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .coffee-list {
        overflow: auto;
    }

    section{
        .image-container {
            justify-content: flex-end;
        }
    }
}