@import url('./coffees-responsive.css');

$primaryColor:#00704A;

section {

    .coffee-content{
        display: flex;
        height: calc(100vh - 90px);
    }

    .coffee-float-button{
        z-index: 1;
        width: 65px;
        height: 65px;
        position: fixed;
        right: 30px;
        bottom: 50px;
        background-color: $primaryColor;
        border-radius: 100%;
        justify-content: center;
        align-items: center;

        .iconCoffee{
            color: white;
            font-size: 22px;
        }
    }

    .content {
        display: flex;
        padding-top: 60px;
        flex-basis: 80%;
    }

    .coffee-list {
        z-index: 2;
        overflow: auto;
        padding: 0px 25px;
        flex-basis: 20%;
        background-color: #f5f5f5;
    }

    .coffee-cell {
        cursor: pointer;
        margin: 20px 0px;
        padding: 10px 5px;
        border: 2px solid $primaryColor;
        border-radius: 5px;

        h4 {
            text-align: center;
            color: $primaryColor;
        }
    }

    .image-container {
        flex-basis: 40%;
        display: flex;

        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .content-container {
        padding: 0 40px;
        flex-basis: 60%;

        h2 {
            color: $primaryColor;
            font-size: 30px;
        }

        p {
            text-align: justify;
        }

        .star {
            margin-top: 15px;
            color: rgba(0, 189, 126, 0.3);
        }

        .star-selected {
            color: $primaryColor;
        }

        .coffee-sizes-container {
            display: flex;
            margin-top: 20px;

            .coffe-size {
                border: 2px solid $primaryColor;
                border-radius: 5px;
                margin-right: 10px;
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    width: 40px;
                }
            }

            .coffe-size-selected {
                background-color: $primaryColor;
            }
        }

        .price-and-amount {
            margin-top: 20px;
            display: flex;
            align-items: center;

            h2 {
                width: 110px;
                color: $primaryColor;
                margin-right: 5px;
            }

            .select-amount-container {
                background-color: #EAEBEB;
                border-radius: 10px;
                height: 35px;
                display: flex;
                align-items: center;
                padding: 10px;

                button {
                    display: flex;
                    align-items: center;
                    background: none;
                    border: none;

                    .icon {
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                button:focus {
                    outline: 0;
                }

                h4 {
                    font-size: 22px;
                    text-align: center;
                    width: 50px;
                }
            }
        }

        .buy-buttons-container {
            margin-top: 20px;
            display: flex;
            align-items: center;

            button {
                background-color: $primaryColor;
                border: none;
                padding: 10px 40px;
                border-radius: 10px;
                color: white;
                font-weight: bold;
                cursor: pointer;
                font-size: 16px;
                margin-right: 25px;
            }

            button:focus {
                outline: 0;
            }

            h4 {
                cursor: pointer;
            }
        }
    }
}