@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Paaji 2', cursive;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
}